.banner-section{
    /* background-image: url("/img/OduIfa.jpeg"); */
    min-height: 80vh;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: linear-gradient(rgba(141, 153, 174, 0.8), rgba(141, 153, 174, 0.5)), url("/img/OduIfa.jpeg");
}
.header{
    font-weight: bolder !important;
    
}